@media (max-width: 375px) {
  header {
    margin: 3rem auto;
  }
  main {
    margin: 0 1rem;
  }
  .container {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
  .total:last-child {
    margin-bottom: 4rem;
  }
  .btn-reset {
    margin-bottom: 1rem;
  }
}
