/*teste*/

.valuesPor {
  list-style: none;
  width: 100%;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.valuesPor::after {
  content: "";
  clear: both;
}

.valuesPor .percentages {
  padding: 0.5rem 0.2rem;
  font: var(--btn-percentage);
  background: var(--Very-dark-cyan);
  color: var(--White);

  border-radius: 0.2rem;
  text-align: center;
  cursor: pointer;
  width: 6rem;
  height: 2.5rem;

  position: absolute;
}

.valuesPor .percentages.active {
  background: var(--Light-grayish-cyan);
}
