:root {
  /* C o l o r s */

  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --less-dark-grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);

  --White: hsl(0, 0%, 100%);
  --Glass-effect: hsla(118, 100%, 58%, 0.1);
  --Green-light: hsl(127, 50%, 55%, 0.8);
  --Green-light-darkish: hsl(127, 51%, 45%);
  --Green-darkish-light: hsl(70, 65%, 38%, 0.7);
  --Green-darkish: hsl(70, 65%, 38%);
  --Green-gray-darkish: hsl(75, 27%, 48%);
  --Cyan-dark: hsl(172, 31%, 51%);
  --Gray-granny: hsl(173, 5%, 61%);
  --Lisbon-brown: hsl(44, 30%, 17%);
  --Black-almost: hsl(30, 12%, 13%);
  --Gray-granny-darkish: hsl(30, 2%, 30%);
  --Black-little-light: hsl(30, 13%, 13%, 0.8);

  /* T y p o g r a p h y */
  /* Splitter */
  --label: 700 24px "Space Mono";
  --input: 700 22px "Space Mono";
  --input-custom: 700 20px "Space Mono";
  --btn-percentage: 700 26px "Space Mono";
  --btn-reset: 700 20px "Space Mono";
  --total: 700 18px "Space Mono";

  /* Rose's */
  --font-h1-header: 400 32px "Goudy Bookletter 1911";
  --font-h2: 400 30px "Goudy Bookletter 1911";
  --font-p: 400 26px "Goudy Bookletter 1911";
  --font-label: 400 24px "Goudy Bookletter 1911";
  --font-input: 400 22px "Goudy Bookletter 1911";
  --font-btn: 400 20px "Goudy Bookletter 1911";
  --font-item-menu: 400 18px "Goudy Bookletter 1911";
  --font-item-menu-preco: 400 18px "Space Mono";
  --font-warning: 700 16px "Space Mono";
  --font-item-menu-descricao: 400 12px "Goudy Bookletter 1911";
}

* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: url(../../assets/index.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: space-around;
  background-color: var(--Glass-effect);
  backdrop-filter: blur(20px);
}

header .restaurant-name {
  margin-left: 1rem;
  font: var(--font-h1-header);
  text-transform: uppercase;
  color: var(--White);
}

main {
  margin: 0 8rem;
}

.container {
  padding: 4rem;
  border-radius: 1.5rem;
  background-color: var(--Glass-effect);
  backdrop-filter: blur(20px);
}

.btn {
  width: 88%;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;

  border: none;
  cursor: pointer;
}

.item-pedido {
  list-style: none;
  display: flex;
  margin: 0 0 1rem 1rem;
  justify-content: space-between;
  font: var(--font-label);
}

.item-pedido p:last-child {
  margin-left: 15rem;
  font: var(--font-item-menu-preco);
}

/* f o o t e r */

.attribution {
  font-size: 14px;
  text-align: center;
  color: whitesmoke;
}
.attribution a {
  color: whitesmoke;
  text-decoration: none;
}
