:root {
  --font-h1: 400 32px "Goudy Bookletter 1911";
  --font-p: 400 26px "Goudy Bookletter 1911";
  --font-label: 400 24px "Goudy Bookletter 1911";
  --font-warning: 700 17px "Space Mono";
  --font-input: 400 22px "Goudy Bookletter 1911";
  --font-btn: 400 20px "Goudy Bookletter 1911";
  --font-item-menu: 400 18px "Goudy Bookletter 1911";
  --font-item-menu-descricao: 400 12px "Goudy Bookletter 1911";
  --font-item-menu-preco: 400 18px "Space Mono";
}

hr {
  height: 75vh;
  width: 0;
}
.container {
  text-align: center;
}

.menu {
  color: var(--White);
  display: flex;
}

.menu .titulo-tipo-menu {
  font: var(--font-label);
  text-align: center;
  margin-bottom: 1rem;
}

.item-menu {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: hsla(0, 0%, 100%, 0.9);
  color: black;
  margin: 0 1rem 2rem;
}

.item-menu p {
  text-align: left;
  font: var(--font-item-menu);
}

.item-menu p legend {
  font: var(--font-item-menu-descricao);
}

.item-menu p:nth-child(2) {
  font: var(--font-item-menu-preco);
}

.item-menu input {
  width: 10%;
  height: 10%;
  padding: 0.1rem 1rem;
  color: black;
}

.sobremesa-bebida hr {
  width: 20vw;
  height: 0;
}

.btn.btn-para-espera {
  background: var(--White);
  color: var(--Black-almost);
  margin: 0;
  font: var(--font-btn);
  padding: 0.5rem 2rem;
}
