/* G E N E R A L */
input[type="number"] {
  border: none;
  outline: 0;
  padding: 0.4rem 0.3rem;
  border-radius: 0.2rem;
  width: 100%;

  background: whitesmoke;
  color: var(--Green-gray-darkish);
  font: var(--input);
  text-align: right;
}

input[type="number"]:hover {
  border: 3px solid var(--Cyan-dark);
}

input[type="number"]::placeholder {
  color: var(--Green-darkish-light);
}

/* S P E C I F I C */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.calculator label {
  display: flex;
  font: var(--label);
  color: var(--White);
  margin-bottom: 0.5rem;
}

.calculator .bill {
  background-image: url(../../assets/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: left 5% center;
  background-size: 0.8rem;
  margin-bottom: 2rem;
}

.calculator .tips {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.calculator .tips .percentage {
  width: 100%;
  padding: 0.5rem 0.2rem;
  font: var(--btn-percentage);
  border: none;
  border-radius: 0.5rem;
  background: whitesmoke;
  color: var(--Lisbon-brown);
  cursor: pointer;
}

.calculator .tips .percentage:hover,
.calculator .tips .percentage:focus {
  background: var(--Lisbon-brown);
  color: var(--White);
}

.calculator .tips .custom {
  width: 92%;
  font: var(--input-custom);
  border-radius: 0.5rem;
}
.calculator .tips .custom,
.calculator .tips .custom::placeholder {
  color: var(--Lisbon-brown);
}

.calculator .number-people {
  background-image: url(../../assets/icon-person.svg);
  background-repeat: no-repeat;
  background-position: left 5% center;
  background-size: 0.8rem;
}

.btn-calculate {
  margin-top: 2rem;
  background: var(--Gray-granny);
  color: var(--White);
  font: var(--font-btn);
}

.btn-calculate:hover {
  background: var(--Gray-granny-darkish);
}

.results {
  background: whitesmoke;
  border-radius: 0.5rem;
}

.show-results {
  padding: 3rem 2rem;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.total p {
  font: var(--total);
  color: var(--Dark-grayish-cyan);
}

.total p:last-child {
  color: var(--Green-gray-darkish);
  font-size: 40px;
}

.total legend {
  font: 400 15px "Space Mono";
  color: var(--less-dark-grayish-cyan);
}

.btn {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--White);
  font: var(--font-btn);
}

.btn-reset {
  background: var(--Gray-granny);
}

.btn-reset:hover {
  background: var(--Black-little-light);
}

.btn-payment {
  background: var(--Green-light);
  padding: 0.7rem 1.4rem;
}

.btn-payment:hover {
  background: var(--Green-light-darkish);
}
